.error {
    color: red;    
    background: #f9dcdc; 
    padding: 10px;   
    border: 1px solid red; 
    border-radius: 4px; 
}


.success {
    color: green;    
    background: #f9dcdc; 
    padding: 10px;   
    border: 1px solid green; 
    border-radius: 4px; 
}
