{% extends "base.html" %}
{% block head %}
{% endblock %}
{% block body %}
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <main class="px-3" style="height:800px">
        <div class="jumbotron">
            <h1 class="display-4">About.</h1>
            <p class="lead">This is a place where dreams come true. This is a place where dreams come true. This is a
                place where dreams come true. This is a place where dreams come true This is a place where dreams come
                true. This is a place where dreams come true This is a place where dreams come true. This is a place
                where dreams come true. This is a place where dreams come true. This is a place where dreams come true.
                This is a place where dreams come true. This is a
                place where dreams come true. This is a place where dreams come true This is a place where dreams come
                true. This is a place where dreams come true This is a place where dreams come true. This is a place
                where dreams come true. This is a place where dreams come true. This is a place where dreams come true.
                This is a place where dreams come true. This is a
                place where dreams come true. This is a place where dreams come true This is a place where dreams come
                true. This is a place where dreams come true This is a place where dreams come true. This is a place
                where dreams come true. This is a place where dreams come true. This is a place where dreams come true.
                This is a place where dreams come true. This is a
                place where dreams come true. This is a place where dreams come true This is a place where dreams come
                true. This is a place where dreams come true This is a place where dreams come true. This is a place
                where dreams come true. This is a place where dreams come true. This is a place where dreams come true.
                This is a place where dreams come true. This is a
                place where dreams come true. This is a place where dreams come true This is a place where dreams come
                true. This is a place where dreams come true This is a place where dreams come true. This is a place
                where dreams come true. This is a place where dreams come true. This is a place where dreams come true.
                This is a place where dreams come true. This is a
                place where dreams come true. This is a place where dreams come true This is a place where dreams come
                true. This is a place where dreams come true This is a place where dreams come true. This is a place
                where dreams come true. This is a place where dreams come true. This is a place where dreams come true.
                This is a place where dreams come true. This is a
                place where dreams come true. This is a place where dreams come true This is a place where dreams come
                true. This is a place where dreams come true This is a place where dreams come true. This is a place
                where dreams come true. This is a place where dreams come true. This is a place where dreams come true.
                This is a place where dreams come true. This is a
                place where dreams come true. This is a place where dreams come true This is a place where dreams come
                true. This is a place where dreams come true This is a place where dreams come true. This is a place
                where dreams come true. This is a place where dreams come true. This is a place where dreams come true.
                This is a place where dreams come true. This is a
                place where dreams come true. This is a place where dreams come true This is a place where dreams come
                true. This is a place where dreams come true This is a place where dreams come true. This is a place
                where dreams come true. This is a place where dreams come true. This is a place where dreams come true.
                This is a place where dreams come true. This is a
                place where dreams come true. This is a place where dreams come true This is a place where dreams come
                true. This is a place where dreams come true This is a place where dreams come true. This is a place
                where dreams come true. This is a place where dreams come true. This is a place where dreams come true.
                This is a place where dreams come true. This is a
                place where dreams come true. This is a place where dreams come true This is a place where dreams come
                true. This is a place where dreams come true This is a place where dreams come true. This is a place
                where dreams come true. This is a place where dreams come true. </p>
            © 2022 Copyright: <a class="text-black">Marketplace</a>
        </div>
    </main>
</div>
{% endblock %}