{% extends "base.html" %}
{% block head %}
{% endblock %}
{% block body %}
<h1>Admin page</h1>
<br>
<div>
    <div class="card">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Sender</th>
                    <th scope="col">Message</th>
                    <th scope="col">Info</th>
                    <th scope="col">Report date</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for data in messages %}
                <tr>
                    <th scope="row">{{data.id}}</th>
                    <td><a href="{{url_for('views.profile', username=data.sender)}}">{{data.sender}}</a></td>
                    <td>{{data.message.new_message}}</td>
                    <td>{% set info = data.message %}
                        <ul>
                            <li>Product:
                                {% if check_product_exists(info.product_id) %}
                                <a class="info" href="{{url_for('views.product', product_id=info.product_id)}}">
                                    {% endif %}
                                    {{info.product_id}}</a>
                            </li>
                            <li>Reported user: {{info.reported}} </li>
                            <li>Comment id: {{info.comment_id}}</li>
                            <li>User {{info.reported.capitalize()}} commented: {{info.commented}}</li>
                        </ul>
                    </td>
                    <td>{{data.creation_date}}</td>
                    <td>
                        <p><a class="info" href="{{url_for('views.ban', username=info.reported)}}">Ban
                                {{info.reported}}</a></p>
                        <p><a class="info" href="{{url_for('views.hide_report', message_id=data.id)}}">Tag as solved</a>
                        </p>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}