{% extends "base.html" %}
{% block head %}
{% endblock %}
{% block body %}
<div class="cover-container container-fluid d-flex w-100 h-100 p-5 flex-column">
    <main class="px-4" style="height: 800px">
        <div class="jumbotron ">
            <h1 class="display-4">AstraMarket.</h1>
            <p class="lead">Treasures are waiting for you...</p>
            <hr class="my-2">
            <div class="row">
                <div class="col-sm-2">
                    <a href="#" class="btn btn-m form-control btn-secondary fw-bold border-white bg-black"
                        data-bs-toggle="modal" data-bs-target="#add-item">Add
                        item</a>
                </div>
                <div class="col-sm-4">
                    <form action="{{url_for('views.set_search')}}" method="GET">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <input id="search" name="search" type="search"
                            class="fw-bold form-control border-white bg-black text-white" placeholder="Search..."
                            aria-label="Search">
                    </form>
                </div>

                <div class="col-sm-2">
                    <div class="dropdown">
                        <button class="btn btn-secondary form-control fw-bold border-white bg-black dropdown-toggle"
                            type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            Select Condition
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item"
                                href="{{url_for('views.set_condition', condition='Any (default)')}}">Any (default)</a>
                            <a class="dropdown-item" href="{{url_for('views.set_condition', condition='New')}}">New</a>
                            <a class="dropdown-item"
                                href="{{url_for('views.set_condition', condition='Used')}}">Used</a>
                            <a class="dropdown-item"
                                href="{{url_for('views.set_condition', condition='Refurbished')}}">Refurbished</a>
                            <a class="dropdown-item"
                                href="{{url_for('views.set_condition', condition='Other')}}">Other</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="dropdown">
                        <button class="btn btn-secondary form-control fw-bold border-white bg-black dropdown-toggle"
                            type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            Select Category
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item"
                                href="{{url_for('views.set_category', category='Any (default)')}}">Any (default)</a>
                            <a class="dropdown-item"
                                href="{{url_for('views.set_category', category='Electronics')}}">Electronics</a>
                            <a class="dropdown-item"
                                href="{{url_for('views.set_category', category='Health and Skincare')}}">Health and
                                Skincare</a>
                            <a class="dropdown-item"
                                href="{{url_for('views.set_category', category='Clothes and Fashion')}}">Clothes and
                                Fashion</a>
                            <a class="dropdown-item"
                                href="{{url_for('views.set_category', category='Jewelry')}}">Jewelry</a>
                            <a class="dropdown-item"
                                href="{{url_for('views.set_category', category='Hobby')}}">Hobby</a>
                            <a class="dropdown-item" href="{{url_for('views.set_category', category='Toys')}}">Toys</a>
                            <a class="dropdown-item" href="{{url_for('views.set_category', category='Pets')}}"> Pets
                            </a>
                            <a class="dropdown-item" href="{{url_for('views.set_category', category='Food')}}">Food</a>
                            <a class="dropdown-item"
                                href="{{url_for('views.set_category', category='Other')}}">Other</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="dropdown">
                        <button class="btn btn-secondary form-control fw-bold border-white bg-black dropdown-toggle"
                            type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            Sort by
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="{{url_for('views.set_sort', sort='A-Z (default)')}}">A-Z
                                (default)</a>
                            <a class="dropdown-item" href="{{url_for('views.set_sort', sort='Date - Newest')}}">Date -
                                Newest</a>
                            <a class="dropdown-item" href="{{url_for('views.set_sort', sort='Date - Oldest')}}">Date -
                                Oldest</a>
                            <a class="dropdown-item" href="{{url_for('views.set_sort', sort='Price - Highest')}}">Price
                                - Highest</a>
                            <a class="dropdown-item" href="{{url_for('views.set_sort', sort='Price - Lowest')}}">Price -
                                Lowest</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row align-items-center profile-box" style="justify-content: center;">
            {% if products != None %}
            {% for data in products %}
            <div class="col-3 mt-2">
                <div class="card card-shadow">
                    <div class="card-body p-2 m-2">
                        <div class="hovereffect">
                            {% if data.id != None %}
                            {% with image_id = fetch_product_img(data.id) %}
                            <img class="img-responsive shadow-1-strong img-fluid img-thumbnail card-shadow d-block mx-auto mb-2"
                                src="{{url_for('static', filename='/images/'+image_id)}}"
                                alt="product with title: {{data.title}}">
                            {% endwith %}
                            {% endif %}
                            <div class="overlay">
                                <h2>{{ data.title }}</h2>
                                <a class="info" href="{{url_for('views.product', product_id=data.id)}}">Check
                                    details</a>
                            </div>
                        </div>
                        <br>
                        <div class="card-title">
                            <p class="fw-bold title">{{ data.title.capitalize() }}</a>
                            <p class="price">Price: {{ data.price }} € </p>
                        </div>
                        {% if data.username != current_user.username %}
                        {% with isSold = fetch_issold(data.id) %}
                        {% if isSold %}
                        <a href="{{url_for('views.buy_product', product_id=data.id)}}"><button
                                class="mt-1 btn btn-sm btn-success fw-bold" disabled data-toggle="confirmation"> Buy
                                product </button></a>
                        {% else %}
                        <a href="{{url_for('views.buy_product', product_id=data.id)}}"><button
                                class="mt-1 btn btn-sm btn-success fw-bold" data-toggle="confirmation"> Buy
                                product </button></a>
                        {% endif %}
                        {% endwith %}
                        {% endif %}
                        <a href="{{url_for('views.product', product_id=data.id)}}"><button
                                class="btn btn-sm btn-secondary fw-bold mt-1 ">Check details</button></a>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}
            <div class="modal fade" tabindex="-1" id="add-item" role="dialog">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header" style="background-color:rgb(255, 255, 255);">
                            <h5 class="modal-title">Add item</h5>
                        </div>
                        <div class="modal-body">
                            <form action="{{url_for('views.product_add')}}" enctype="multipart/form-data" method="POST">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                <div class="row">
                                    <div class="col-3 mt-3">
                                        <p class="product-box-text">Select product images (Try to highlight as many
                                            images as you want): </p>
                                    </div>
                                    <div class="col-3 mt-3">
                                        <input type="file" id="product_pictures" multiple name="product_pictures"
                                            multiple="multiple" placeholder="" required>
                                        <output id="result"></output>
                                    </div>
                                </div>
                                <div class="row">
                                    {% for error in x %}
                                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                        {{ error }}
                                        <button type="button" class="btn-close" data-bs-dismiss="alert"
                                            aria-label="Close"></button>
                                    </div>
                                    {% endfor %}
                                    <div class="col-3">
                                        <p class="product-box-text mt-2">Title:</p>
                                    </div>
                                    <div class="col-6 text-secondary">
                                        <input type="text" id="title" name="title" minlength="3"
                                            class="form-control mb-2" rows="5" cols="30" placeholder="Title" required>
                                    </div>
                                </div>
                                <div class="row">
                                    {% for error in x %}
                                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                        {{ error }}
                                        <button type="button" class="btn-close" data-bs-dismiss="alert"
                                            aria-label="Close"></button>
                                    </div>
                                    {% endfor %}
                                    <div class="col-3">
                                        <p class="product-box-text mt-2">Details:</p>
                                    </div>
                                    <div class="col-6 text-secondary">
                                        <textarea id="details" name="details" minlength="3" class="form-control mb-2"
                                            rows="5" cols="30" placeholder="Details" value="" required></textarea>
                                    </div>
                                </div>
                                <div class="row">
                                    {% for error in x %}
                                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                        {{ error }}
                                        <button type="button" class="btn-close" data-bs-dismiss="alert"
                                            aria-label="Close"></button>
                                    </div>
                                    {% endfor %}
                                    <div class="col-3">
                                        <p class="product-box-text mt-2">Price (€):</p>
                                    </div>
                                    <div class="col-6 text-secondary">
                                        <input type="number" id="price" step="any" name="price" minlength="3"
                                            class="form-control mb-2" rows="5" cols="30" placeholder="Price (€)"
                                            value="" required></input>
                                    </div>
                                </div>
                                <div class="row">
                                    {% for error in x %}
                                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                        {{ error }}
                                        <button type="button" class="btn-close" data-bs-dismiss="alert"
                                            aria-label="Close"></button>
                                    </div>
                                    {% endfor %}
                                    <div class="col-3">
                                        <p class="product-box-text mt-2">Category:</p>
                                    </div>
                                    <div class="col-6 text-secondary">
                                        <select class="form-control text-muted" id="category" name="category">
                                            <option value="">Select a category</option>
                                            <option value="Electronics">Electronics</option>
                                            <option value="Health and Skincare">Health and Skincare</option>
                                            <option value="Clothes and Fashion">Clothes and Fashion</option>
                                            <option value="Jewelry">Jewelry</option>
                                            <option value="Hobby">Hobby</option>
                                            <option value="Toys">Toys</option>
                                            <option value="Pets">Pets</option>
                                            <option value="Food">Food</option>
                                            <option value="Other">Other</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    {% for error in x %}
                                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                        {{ error }}
                                        <button type="button" class="btn-close" data-bs-dismiss="alert"
                                            aria-label="Close"></button>
                                    </div>
                                    {% endfor %}
                                    <div class="col-3">
                                        <p class="product-box-text mt-2">Condition:</p>
                                    </div>
                                    <div class="col-6 text-secondary">
                                        <select class="form-control text-muted" id="condition" name="condition">
                                            <option value="">Select a condition</option>
                                            <option value="New">New</option>
                                            <option value="Used">Used</option>
                                            <option value="Refurbished">Refurbished</option>
                                            <option value="Other" text-muted>Other</option>
                                        </select>
                                    </div>
                                </div>


                                <div class="modal-footer">
                                    <button type="submit" class="btn close btn-primary">Add</button>
                                    <a href="{{request.url}}"><button type="button" class="btn close btn-danger"
                                            data-bs-dismiss="modal">Cancel</button></a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
<script src="{{url_for('static', filename='/javascript/snippets.js')}}"></script>
{% endblock %}